* {
  overflow: x;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
 
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #e10073;
}

header input {
  flex: 1;
  margin: 0 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

nav a {
  margin:  10px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
nav a:hover {
  color: #e10073;
}
.right-menu a {
  position: relative;
  left: 40px;
  text-decoration: none;
  color: #333;
  top: 8px;
}
.right-menu1 a{
  position: relative;
  left: 55px;
  text-decoration: none;
  color: #333;
}
.right-menu1 img{
  position: relative;
  bottom: 20px;

}
.right-menu img {
  position: relative;
  
  bottom: 20px;
}
.right-menu a:hover {
  color: #e10073;
}
.right-menu1 a:hover {
  color: #e10073;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  
}

.banner-text h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.banner-text button {
  background-color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold; 
}

.banner-image img {
  width: 100vw;
  margin-top: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #f9f9f9;
  margin-left: 20px;
  padding-left: 20px;
}
.categories p {
  color: #1d1717;
  font-size: 16px;
}
.categories a{
  text-decoration: none;
}
.categories p:hover {
  color: #e10073;
  cursor: pointer;
}
.categories :hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}